@keyframes :global (spin) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes :global (flash) {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes :global (shake) {
  0% {
    transform: translateX(-2.5%);
  }
  50% {
    transform: translateX(2.5%);
  }
}
