{
  "presets": [
		[ "latest",
			{
	      "modules": false
	    }
		],
		"stage-0",
		"react",
	],
	"plugins": [
		"react-hot-loader/babel",
	],
	"env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
