{
  'parser': 'babel-eslint',
  'env': {
    'browser': true,
    'commonjs': true,
    'es6': true,
    'jest': true,
    'node': true,
  },
  'plugins': [
    'react',
    'redux-saga',
  ],
  'extends': [
    'eslint:recommended',
    'plugin:react/recommended',
    'plugin:redux-saga/recommended',
  ],
  'rules': {
    'no-console': 'warn',
  },
}
